<form [formGroup]="formAddUser" (submit)="addUser()">
  <input type="text" formControlName="name" />
  <input type="text" formControlName="first_name" />
  <input type="text" formControlName="last_name" />
</form>
<app-button type="submit">Create</app-button>
