.container-card {
  display: grid;
  grid-template-columns: 20fr 60fr 20fr;
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    app-button {
      margin: 10px 0;
    }
  }
}

.pagination {
  display: flex;
  justify-content: flex-end;
  margin: 16px 0;
  app-button{
    margin: 0 10px;
  }
}
