<app-button (click)="getPageAddUser()">Adcionar usuarios</app-button>
<app-card *ngFor="let user of users?.data">
  <div class="container-card">
    <app-img [src]="user.avatar"></app-img>
    <div class="content">
      <app-title>{{ user.first_name }} {{ user.last_name }}</app-title>
      <app-sub-title>{{ user.email }}</app-sub-title>
    </div>

    <div class="actions">
      <app-button (click)="getPageUpdateUser(user)">edit</app-button>
      <app-button (click)="deleteUser(user)">delete</app-button>
    </div>
  </div>
</app-card>

<div class="pagination">
  <ng-container *ngFor="let page of pages">
    <app-button (click)="getPage(page + 1)">{{ page + 1 }}</app-button>
  </ng-container>
</div>
