<ng-container *ngIf="formUpdateUser">
  <form [formGroup]="formUpdateUser" (submit)="updateUser()">
    <img [src]="this.formUpdateUser.value.avatar" alt="" id="myphoto" name="myphoto" formControlName="avatar" />
    <input type="text" formControlName="name" />
    <input type="text" formControlName="first_name" />
    <input type="text" formControlName="last_name" />
  </form>
  <button type="submit">edit</button>
</ng-container>
