/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  font-family: "Ubuntu", sans-serif;
  width: 100%;
  max-width: 800px;
  margin: 0px auto;
  font-size: 16px;
}
